# ============================================================
# TEMPLATE .env — Salin file ini menjadi ".env" dan isi nilainya
# ============================================================

PORT=5000
MONGO_URI=mongodb://localhost:27017/pupr_sda_db
JWT_SECRET=ganti_dengan_string_acak_yang_sangat_panjang_dan_kompleks
JWT_EXPIRES_IN=7d
FRONTEND_URL=*
